<div
  class="
    jumbotron
    text-center
    p-5
    bg-gradient bg-dark
    rounded
    m-5
    border-3 border border-info
  "
>
  <h1 class="text-info">PANEL DEL ALUMNO</h1>
</div>
<div class="container main bg-transparent">
  <div class="row justify-content-center mb-4">
    <div class="col-2 d-flex justify-content-end h-25 mt-5">
      <button
        class="
          btn btn-outline-info
          text-light
          h-40
          w-30
          bg-gradient
          d-flex
          justify-content-center
        "
        (click)="showModal('studentModal')"
      >
        <img src="{{ fileIcon }}" alt="" />
      </button>
      <button
        class="
          btn btn-outline-info
          text-light
          h-40
          w-30
          bg-gradient
          d-flex
          justify-content-center
        "
      >
        <img src="{{ editIcon }}" alt="" />
      </button>
      <button
        class="
          btn btn-outline-info
          text-light
          h-40
          w-30
          bg-gradient
          d-flex
          justify-content-center
        "
      >
        <img src="{{ trashIcon }}" alt="" />
      </button>
    </div>

    <div class="col-6 mb-5 p-0">
      <p
        class="
          border
          rounded
          border-3 border-info
          text-info
          w-100
          text-center
          m-0
          bg-transparent
        "
      >
        ALUMNO
      </p>

      <select
        #selectedStudent
        (change)="searchCalificationsByStudentDni(selectedStudent.value)"
        class="
          form-select
          border-3 border-info
          form-select-lg
          h-100
          m-0
          p-0
          bg-transparent
          text-light
        "
        aria-label=".form-select-lg"
      >
        <option selected class="text-light text-center bg-dark">
          Selecciona alumno...
        </option>
        <option
          *ngFor="let student of students"
          class="text-light text-center bg-dark justify-content-between"
          value="{{ student.dni }}"
        >
          {{ student.dni }} | {{ student.name }} | {{ student.surname }}
        </option>
      </select>
    </div>

    <div class="col-1 mb-5 p-0">
      <p
        class="
          border
          rounded
          border-3 border-info
          text-info
          w-100
          text-center
          m-0
          bg-transparent
        "
      >
        AÑO
      </p>
      <select
        #selectedYear
        (change)="searchCalificationsByYear(selectedYear.value)"
        class="
          form-select
          border-3 border-info
          form-select-lg
          h-100
          m-0
          p-0
          bg-transparent
          text-light
        "
      >
        <option selected class="text-light text-center bg-dark">...</option>
        <option
          *ngFor="let year of years"
          class="text-light text-center bg-dark justify-content-between"
          value="{{ year.year }}"
        >
          {{ year.year }}
        </option>
      </select>
    </div>
    <div class="col-2 d-flex justify-content-start h-25 mt-5">
      <button class="btn btn-outline-info text-light h-33 w-33 bg-gradient" (click)="showModal('yearModal')">
        <img src="{{ fileIcon }}" alt="" />
      </button>
      <button class="btn btn-outline-info text-light h-33 w-33 bg-gradient" (click)="deleteYear()">
        <img src="{{ trashIcon }}" alt="" />
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 border rounded border-info border-3">
      <table class="col-12 table table-dark table text-center text-info m-1">
        <tr>
          <th class="text-center celda">ASIGNATURA</th>
          <th class="text-center celda">NOTA</th>
          <th class="text-center celda botonera"></th>
          <th class="text-center celda botonera">
            <button
            (click)="showModal('calificationsModal')"
              class="btn btn-outline-info text-light h-33 w-100 bg-gradient" 
            >
              <img src="{{ fileIcon }}" alt="" />
            </button>
          </th>
        </tr>
        <tr *ngFor="let calification of califications">
          <td class="text-center text-light celda">
            {{ calification.subjectsBySubjectid.name }}
          </td>
          <td class="text-center text-light celda">
            {{ calification.calification }}
          </td>
          <td class="text-center text-light botonera">
            <button
              class="btn btn-outline-info text-light h-33 w-100 bg-gradient"
            >
              <img src="{{ editIcon }}" alt="" />
            </button>
          </td>
          <td class="text-center text-light botonera">
            <button
              class="btn btn-outline-info text-light h-33 w-100 bg-gradient"
              (click)="
                deleteCalification(
                  calification.studentdni,
                  calification.subjectid,
                  calification.year
                )
              "
            >
              <img src="{{ trashIcon }}" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <th colspan="4">MEDIA</th>
        </tr>
        <tr>
          <td colspan="4" class="text-center text-light">{{ media }}</td>
        </tr>
      </table>
    </div>


    <div id="studentModal" class="modals">

      <form #studentForm="ngForm" (ngSubmit)=studentSubmit(studentForm) class="position-absolute col-3 bg-dark bg-gradient p-4 top-0 mt-4  border rounded border-info border-3 text-info d-flex flex-column justify-content-around">
        <div class="d-flex justify-content-end ">
          <img src="{{closeIcon}}" alt="" (click)="hideModal('studentModal')">
        </div>
        <div class="w-100 d-flex justify-content-center text-info"><h6>ALUMNO</h6></div>
        <div class="form-group ">
          <label >DNI</label>
          <input type="text" class="form-control" ngModel placeholder="DNI"  name="dni" required #dni>
          <label >APELLIDOS</label>
          <input type="text" class="form-control"  ngModel placeholder="Apellidos"  required name="surname" #surname>
          <label >NOMBRE</label>
          <input type="text" class="form-control" ngModel  placeholder="Nombre" required name="name" #name>
        </div>
        <button type="submit" class="btn btn-outline-info border border-info border-2 text-info  bg-gradient mt-5" (click)="hideModal('studentModal')">
          Guardar 
          <img src="{{saveIcon}}" alt="">
        </button>
      </form>

    </div>

    <div id="yearModal" class="modals">

      <form #yearForm="ngForm" (ngSubmit)=yearSubmit(yearForm) class="position-absolute col-3 bg-dark bg-gradient p-4 top-0 mt-4  border rounded border-info border-3 text-info d-flex flex-column justify-content-around">
        <div class="d-flex justify-content-end ">
          <img src="{{closeIcon}}" alt="" (click)="hideModal('yearModal')">
        </div>
        <div class="w-100 d-flex justify-content-center text-info"><h6>AÑO</h6></div>
        <div class="form-group ">
        
          
          <input type="number" min=2015 max=2050 class="form-control" ngModel  placeholder="2021" required name="year" #year>
        </div>
        <button type="submit" class="btn btn-outline-info border border-info border-2 text-info  bg-gradient mt-5" (click)="hideModal('yearModal')">
          Guardar 
          <img src="{{saveIcon}}" alt="">
        </button>
      </form>

    </div>

    <div id="calificationsModal" class="modals">

      <form #calificationForm="ngForm" (ngSubmit)=calificationSubmit(calificationForm) class="position-absolute col-3 bg-dark bg-gradient p-4 top-0 mt-4  border rounded border-info border-3 text-info d-flex flex-column justify-content-around">
        <div class="d-flex justify-content-end ">
          <img src="{{closeIcon}}" alt="" (click)="hideModal('calificationsModal')">
        </div>
        <div class="w-100 d-flex justify-content-center text-info"><h6>ASIGNATURA</h6></div>
        <div class="form-group ">
        
          <select
        #selectedSubjectToSend
        (change)="setSelectedSubjectToSend(selectedSubjectToSend.value)"
        class="
          form-select
          border-3 border-info
          form-select-lg
          h-100
          m-0
          p-0
          bg-transparent
          text-light
        "
      >
        <option selected class="text-light text-center bg-dark">...</option>
        <option
          *ngFor="let subject of subjects"
          class="text-light text-center bg-dark justify-content-between"
          value="{{ subject.idsubject }}"
        >
        {{ subject.name }}
        </option>
      </select>
        <input type="number" ngModel name="calification" #calification  min="0.00" max="10.00" step="0.01" class="form-control mt-2" placeholder=0.00>
        </div>
        <button type="submit" class="btn btn-outline-info border border-info border-2 text-info  bg-gradient mt-5"
        (click)="hideModal('calificationsModal')">Guardar 
          <img src="{{saveIcon}}" alt="">
        </button>
      </form>
    </div>
  </div>
</div>
